<div class="container">
    <h4><%= @cocktail.name.capitalize %></h4>
    <h5>Recipe: </h5>
    <ul>
        <% @cocktail.doses.each do |dose| %>
            <li><%= dose.description %> of <%= dose.ingredient.name %> 
            <%= link_to '🗑', dose_path(dose),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
        </li></li>
        <% end %>
        <li><%= link_to "Add another ingredient!", new_cocktail_dose_path(@cocktail) %></li>
    </ul>
    <%= link_to "Back", cocktails_path %>

</div>