<div class="container">
    <h4>Add an ingredient to your <%= @cocktail.name %> recipe!</h4>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit %>
    
    <% end %>
    
</div>